html {
  width:100%;
  height:100%;
  font-family: arial, sans-serif;
  font-size: 13px;
  line-height: 1.4;
  color: #111;
  text-align: justify;
  margin: 0;
  padding: 0;
}

body.fixedwidth {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

body.fullwidth {
  width:100%;
  height:100%;

  margin: 0;
  padding: 0;
  background-clip: border-box;
}

body {
  line-height: inherit;
}

.page {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
div#toc {
  zdisplay: inline-block;
  padding: 0.5rem;
  border: 1px solid #59c;
  background-color: #fafcfe;
}
div#toc h2 {
  border: none;
  padding: 0;
  margin-top: 0;
}
div#toc > div > ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
div#toc ul ul {
  list-style-type: none;
  padding-left: 1rem;
  margin-left: 0;
}
div#toc li {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
a, a:visited {
  color: #249;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.clonehandle {
  color: #aaa;
  font-size: 1rem;
  text-decoration: none !important;
  font-weight: normal;
  float: right;
}
.clonehandle svg {
  fill: #aaa;
}
.svgicon {
  height: 1rem;
  width: 1.47rem;
  vertical-align: middle;
}
ul {
  list-style-type: disc;
}
li, li p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.section {
  zmargin-top: 2rem;
}
h1, .h1 {
  color: #000;
  font-weight: normal;
  font-size: 2.0rem;
  margin-top: 1rem;
  padding-top: 0.5rem;
  border-bottom: 1px solid #777;
  margin-bottom: 1.5rem;
  padding-bottom: 0;
}
h2, .h2 {
  color: #000;
  font-weight: normal;
  font-size: 1.7rem;
  margin-top: 3rem;
  padding-top: 0;
  border-bottom: 1px solid #999;
  margin-bottom: 0.5rem;
  padding-bottom: 0;
}
h3, .h3 {
  color: #000;
  font-weight: normal;
  font-size: 1.4rem;
  margin-top: 2.5rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.5rem;
}
h4, .h4 {
  color: #000;
  font-weight: normal;
  font-size: 1.2rem;
  margin-top: 2.0rem;
  margin-bottom: -0.5rem;
}
h5, .h5 {
  color: #000;
  font-weight: normal;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: -0.7rem;
}
h6, .h6 {
  color: #000;
  font-weight: normal;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: -0.7rem;
}
.h7 {
  color: #000;
  font-weight: normal;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: -0.7rem;
}
.h8 {
  color: #000;
  font-weight: normal;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: -0.7rem;
}
.h9 {
  color: #000;
  font-weight: normal;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: -0.7rem;
}
.h10 {
  color: #000;
  font-weight: normal;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: -0.7rem;
}
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  padding: 0.35rem;
}
.vcenter {
  text-align: center;
}
.big {
  font-size: 1.3em;
}
pre, tt {
  font-family: monospace;
  font-size: 13px;
}
pre {
  padding: 0.5rem;
  overflow-x: auto;
  margin: 0.5em 0;
}
tt {
  padding: 0.1rem;
}
.ok {
  color: #4c4;
  fill: #4c4;
}
.warn {
  color: #b21;
  fill: #b21;
}
.todo {
  color: #fd0;
  fill: #fd0;
}
.err {
  color: #c44;
  fill: #c44;
}
ul, ol {
  padding-left: 0;
  margin-left: 0;
}
ul li, ol li {
  list-style-position: outside;
  margin-left: 1.1rem;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

progress[role]:after {
  background-image: none;
}

progress[role] strong {
  display: none;
}

progress,
progress[role] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #999;
  background-size: auto;
  display: block;

  width: 100%;
  height: 1rem;

  background-color: #f3f3f3;
}

progress::-webkit-progress-bar {
  background-color: #f3f3f3;
}

progress::-webkit-progress-value {
  background: #8ebdec;
  background: -moz-linear-gradient(top,  #8ebdec 0%, #5791ca 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8ebdec), color-stop(100%, #5791ca));
  background: -webkit-linear-gradient(top,  #8ebdec 0%, #5791ca 100%);
  background: -o-linear-gradient(top,  #8ebdec 0%, #5791ca 100%);
  background: -ms-linear-gradient(top,  #8ebdec 0%, #5791ca 100%);
  background: linear-gradient(to bottom,  #8ebdec 0%, #5791ca 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ebdec', endColorstr='#5791ca',GradientType=0 );
}
progress::-moz-progress-bar {
  background: #8ebdec;
  background: -moz-linear-gradient(top,  #8ebdec 0%, #5791ca 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8ebdec), color-stop(100%, #5791ca));
  background: -webkit-linear-gradient(top,  #8ebdec 0%, #5791ca 100%);
  background: -o-linear-gradient(top,  #8ebdec 0%, #5791ca 100%);
  background: -ms-linear-gradient(top,  #8ebdec 0% ,#5791ca 100%);
  background: linear-gradient(to bottom,  #8ebdec 0%, #5791ca 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ebdec', endColorstr='#5791ca',GradientType=0 );
}

fieldset {
  border: 1px solid #c0c0c0;
  padding: 0.35em 0.625em 0.75em;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

select {
  display: inline-block;
}

legend {
  border: 0;
  padding: 0;
  font-size: 1.2rem;
}

input, button {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

select,
input,
button {
  font-size: inherit;
}

input[type="radio"] {
  vertical-align: middle;
  margin-top: -0.25rem;
  margin-left: 0.2rem;
  margin-right: 0.15rem;
}

input[type="checkbox"] {
  position: relative;
  vertical-align: middle;
  bottom: 1px;
  margin-right: 0.25rem;
}

.verticalContainer {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  box-sizing: border-box;
}

.verticalStretch {
  flex: 1;
  min-height: 0;
  overflow: auto;
}

.nobr,
.timeago {
  white-space: nowrap;
}

.hourglass {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
}
.hourglass:before {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  content: "";
  height: 64px;
  width: 64px;
  -webkit-animation: hourglass-rotation 2s infinite linear;
  -moz-animation: hourglass-rotation 2s infinite linear;
  -o-animation: hourglass-rotation 2s infinite linear;
  animation: hourglass-rotation 2s infinite linear;
  border: 6px solid #eee;
  border-top: 6px solid #58c;
  border-radius: 100%;
  display: block;
}
.hourglass:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 64px);
  -moz-transform: translate(-50%, 64px);
  -o-transform: translate(-50%, 64px);
  transform: translate(-50%, 64px);
  box-sizing: border-box;
  display: block;
  color: #eee;
  font-size: 2rem;
  content: "\00a0\00a0Loading...";
}
@-webkit-keyframes hourglass-rotation {
  from {-webkit-transform: translate(-50%, -50%) rotate(0deg);}
  to {-webkit-transform: translate(-50%, -50%) rotate(359deg);}
}
@-moz-keyframes hourglass-rotation {
  from {-moz-transform: translate(-50%, -50%) rotate(0deg);}
  to {-moz-transform: translate(-50%, -50%) rotate(359deg);}
}
@-o-keyframes hourglass-rotation {
  from {-o-transform: translate(-50%, -50%) rotate(0deg);}
  to {-o-transform: translate(-50%, -50%) rotate(359deg);}
}
@keyframes hourglass-rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

#issuetable {
  border: 1px solid #bbb;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  line-height: 1.2;
}

#issuetable th,
#issuetable td {
  border: 1px solid #bbb;
  word-wrap: break-word;
  width: 1px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
#issuetable th {
  white-space: nowrap;
}

#issuetable td {
  border-left: none;
  border-right: none;
}

#issuetable th.expand,
#issuetable td.expand {
  width: 100%;
}

#issuetable th > div,
#issuetable td > div,
#issuetable a.issue {
  white-space: normal;
  word-wrap: break-word;
}

#issuetable th {
  background-color: #eee;
  color: #00c;
}

#issuetable th .handle {
  visibility: hidden;
}
#issuetable th:hover .handle {
  visibility: visible;
}

#issuetablebody tr:hover {
  background-color: #e0f0ff;
}

a.filter {
  color: inherit;
}
a.filter:hover {
  color: #171;
}
a.removefilter {
  color: #171;
}
a.removefilter:hover {
  color: #171;
  text-decoration: line-through;
}
a.issue {
  color: inherit;
}
a.issue:hover {
  color: #00c;
}

#preswitcher {
  height: 0.4em;
  background-color: #e0f0ff;
}

.noborder {
  border: none !important;
}

#switcher {
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

#switcher td.item {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  border: none;
  border-top: 1px solid #e0f0ff;
  border-bottom: 1px solid #00c;
  background-color: #e0f0ff;
  white-space: nowrap;
  font-weight: bold;
}

#switcher td.item.selected {
  padding-left: 14px;
  padding-right: 14px;
  background-color: #fff;
  color: #000;
  border: 1px solid #00c;
  border-bottom: 1px solid #fff;
}

#switcher td.item.filler {
  width: 100%;
}

#switcher td.item.about {
  font-weight: normal;
}

#switcher td.item.empty {
  padding-left: 0.5em;
  padding-right: 0;
}

#switcher a {
  color: #00c;
}
#switcher a:hover {
  color: #00c;
}

#switcher td.item.selected a {
  color: inherit;
  text-decoration: none;
}
#switcher td.item.selected.closable a:hover {
  text-decoration: line-through;
}

#issues {
  padding: 0.5em;
}

#issuesheader {
  background-color: #e0f0ff;
  border: 1px solid #bbb;
  border-bottom: none;
  padding: 0.5em;
  padding: 0.5em;
}

.tabissue td {
  vertical-align: top;
}
.tabissue td.left {
  min-width: 150px;
}
.tabissue table {
  margin-left: 0.3em;
}
.tabissue table,
.tabissue tr,
.tabissue th,
.tabissue td {
  border: none;
}
.tabissue table,
.tabissue tr,
.tabissue th,
.tabissue td {
  padding: 0;
  padding-right: 1em;
}
.tabissue .title {
  background-color: #e0f0ff;
  padding: 0.5em;
  font-size: 120%;
  font-weight: bold;
}
.tabissue .guard {
  height: 0.5em;
}
.tabissue td.right {
  border-left: 3px solid #e0f0ff;
  width: 100%;
}
.tabissue p:first-of-type {
  margin-top: 0;
}
.tabissue .comment {
  padding-left: 0.5em;
  border-bottom: 3px solid #e0f0ff;
}
.tabissue .comment .header {
  color: #009;
}
.tabissue .comment .header .member {
  background-color: #7ae;
  color: white;
  padding: 3px;
  border-radius: 3px;
  font-weight: bold;
}
.tabissue .comment pre {
  padding: 0;
  max-width: 80em;
  overflow-x: initial;
  white-space: pre-wrap;
  line-height: normal;
}

.tabissue .comment .update {
  padding: 3px;
  border-radius: 3px;
}
.tabissue .comment .update.open {
  background-color: #e0f0ff;
}
.tabissue .comment .update.closed {
  background-color: #ddd;
}
.tabissue .comment a.issue {
  color: #00c;
}
.tabissue .comment .attachment {
  background-color: #eee;
  padding: 0.5em;
  overflow-x: auto;
  max-width: initial;
  white-space: pre;
}

.tabissue .comment figure {
  max-width: 120px;
  margin: 10px;
  border: 10px solid #fff;
  -webkit-box-shadow: 0 3px 10px #ccc;
  -moz-box-shadow: 0 3px 10px #ccc;
  box-shadow: 0 3px 10px #ccc;
}
.tabissue .comment figure:focus {
  max-width: 100%;
}
.tabissue .comment figure img {
  width: 100%;
}
.tabissue .comment video {
  margin: 10px;
  border: 10px solid #fff;
  -webkit-box-shadow: 0 3px 10px #ccc;
  -moz-box-shadow: 0 3px 10px #ccc;
  box-shadow: 0 3px 10px #ccc;
}
